<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.matthewsamuel.dark-mode-notify</string>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/matthewsamuel/.local/share/dark-mode-notify/stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/matthewsamuel/.local/share/dark-mode-notify/stdout.log</string>
    <key>ProgramArguments</key>
    <array>
       <string>/usr/local/bin/dark-mode-notify</string>
       <string>/Users/matthewsamuel/Developer/dotfiles/scripts/changecolors</string>
    </array>
</dict>
</plist>
