# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# File where I keep funcitons specific to my projects 
shell/personal_functions.zsh

# Vim
*.swp
nvim/plugin
nvim/lazy-lock.json
