# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Vim
*.swp
*/nvim/plugin
*/nvim/lazy-lock.json

# Misc files
.zcompdump
*/tt/.errors
*/lazygit/state.yml
