- block:
    - name: install homebrew packages
      include_role:
        name: geerlingguy.mac.homebrew
      tags: ["homebrew"]
    - name: install mac apps
      include_role:
        name: geerlingguy.mac.mas
        apply:
          ignore_errors: true
      tags: ["mas"]
  when: ansible_os_family == "Darwin"

- block:
    - name: install apt packages (Debian)
      ansible.builtin.apt:
        name: "{{ apt_installed_packages }}"
        state: present
      become: true
  when: ansible_os_family == "Debian"

- ansible.builtin.import_tasks:
    file: "fnm.yml"
  tags: ["fnm", "node"]

- block:
    - ansible.builtin.import_tasks:
        file: "lazygit.yml"
      tags: ["lazygit", "lg"]
    - ansible.builtin.import_tasks:
        file: "eza.yml"
      tags: ["eza", "exa"]
    - ansible.builtin.import_tasks:
        file: "bat.yml"
      tags: ["bat"]
    - ansible.builtin.import_tasks:
        file: "fzf.yml"
      tags: ["fzf"]
  when: ansible_os_family != "Darwin"
