- name: enforce key authentication
  ansible.builtin.copy:
    src: "{{ ansible_env.PWD }}/../config/ssh/ssh.conf"
    dest: "/etc/ssh/sshd_config.d/ssh.conf"
  become: true
  when: ansible_os_family == "Darwin"

- name: symlink authorized keys
  file:
    src: "{{ dotfiles_dir }}/config/ssh/authorized_keys"
    path: "~/.ssh/authorized_keys"
    state: link

- name: symlink allowed signers
  file:
    src: "{{ dotfiles_dir }}/config/ssh/allowed_signers"
    path: "~/.ssh/allowed_signers"
    state: link
