Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

" options
set incsearch
set scrolloff=4
set ignorecase
set smartcase
set timeoutlen=300
set number
set relativenumber

" keybindings
let mapleader = ' '
map ' ' <nop>

" search
map sr <Action>(FindInPath)
map ss <Action>(GotoFile)

" code refactoring/fixing
map <leader>rr <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)

" move selected code when in visual mode
vmap <S-j> :m '>+1<CR>gv=gv
vmap <S-k> :m '<-2<CR>gv=gv

" debug
map <leader>ds <Action>(Debug)
map <leader>dn <Action>(Resume)
map <leader>dd <Action>(ToggleLineBreakpoint)
map <leader>de <Action>(EvaluateExpression)

" harpoon
map M :action HarpoonerQuickMenu<cr>
map mm :action HarpoonerAddFile<cr>
map mw :action HarpoonerOpenFile0<cr>
map mf :action HarpoonerOpenFile1<cr>
map mp :action HarpoonerOpenFile2<cr>
map mr :action HarpoonerOpenFile3<cr>
map ms :action HarpoonerOpenFile4<cr>
map mt :action HarpoonerOpenFile5<cr>
map mx :action HarpoonerOpenFile6<cr>
map mc :action HarpoonerOpenFile7<cr>
map mv :action HarpoonerOpenFile8<cr>

" make
map gm <Action>(CompileFile)
map gM <Action>(Compile)

" copilot
imap <right> <Action>(copilot.applyInlays)

" misc
map <leader>f <Action>(ReformatCode)
map <leader>y :let @+=@"<cr>
